
.header {

    &__title {
       
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 5rem;
        text-shadow: 4px 4px 8px black;
        margin-top: 3rem;
        margin-bottom: 3rem;

    }
}