h1 {
    /* css */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;

}

h5 {
    text-align: center;

}

footer {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 3rem;

}